In [52]:
%matplotlib widget

In [53]:
import numpy as np
import emg3d 
import empymod as ep
import pandas as pd
from scipy.constants import mu_0
import matplotlib.pyplot as plt
from matplotlib.colors import LogNorm
import time
import sys
sys.path.insert(1, 'src')

#from Plot import grid

## Upload data and sort

In [54]:
OUT = np.load('data/data3D_slope5_f.pkl', allow_pickle=True)

In [55]:
OUT

    geom  src_x  rec_x  midpx  offset        op        ip
0     H2   -4.0   -2.0  -3.00     2.0  0.042694  0.012218
1     H4   -4.0    0.0  -2.00     4.0  0.072894  0.057017
2     H8   -4.0    4.0   0.00     8.0  0.016525  0.164839
3     V2   -4.0   -2.0  -3.00     2.0  0.055461  0.007457
4     V4   -4.0    0.0  -2.00     4.0  0.170783  0.042686
..   ...    ...    ...    ...     ...       ...       ...
400   V4   40.0   44.0  42.00     4.0  0.113471  0.016093
401   V8   40.0   48.0  44.00     8.0  0.255529  0.070097
402   P2   40.0   42.1  41.05     2.1  0.056837  0.003077
403   P4   40.0   44.1  42.05     4.1  0.141432  0.017261
404   P8   40.0   48.1  44.05     8.1  0.294311  0.080952

[405 rows x 7 columns]

In [56]:
OUT_sorted = OUT.sort_values(by='geom')

In [57]:
OUT_sorted

    geom  src_x  rec_x  midpx  offset        op        ip
0     H2   -4.0   -2.0   -3.0     2.0  0.042694  0.012218
333   H2   33.0   35.0   34.0     2.0  0.024069  0.004776
99    H2    7.0    9.0    8.0     2.0  0.042302  0.011815
216   H2   20.0   22.0   21.0     2.0  0.034501  0.008017
90    H2    6.0    8.0    7.0     2.0  0.042479  0.011961
..   ...    ...    ...    ...     ...       ...       ...
176   V8   15.0   23.0   19.0     8.0  0.335837  0.128155
284   V8   27.0   35.0   31.0     8.0  0.274470  0.085542
374   V8   37.0   45.0   41.0     8.0  0.256818  0.073634
356   V8   35.0   43.0   39.0     8.0  0.256795  0.075371
239   V8   22.0   30.0   26.0     8.0  0.292426  0.098293

[405 rows x 7 columns]

In [58]:
npos = int(len(OUT_sorted)/9)

In [59]:
npos

45

In [60]:
data_3D = np.zeros((npos-3,18))

pos=0
for p in range(-3,npos):
    #print(OUT_sorted.loc[(OUT_sorted.midpx > p+.06) & (OUT_sorted.midpx <p +1.06)])

    dat = np.hstack((OUT_sorted.loc[(OUT_sorted.midpx > p+.06) & (OUT_sorted.midpx <=p +1.06)]['op'],
                     OUT_sorted.loc[(OUT_sorted.midpx > p+.06) & (OUT_sorted.midpx <=p +1.06)]['ip'])) 
    if dat.size == 0:
        continue
    if dat.size == 18:
        data_3D[pos,:] = dat
        #print('pos:', pos)
        pos += 1

In [61]:
np.save('data/data3D_slope5_f_sorted.npy', data_3D[1:41])

In [62]:
np.shape(data_3D[1:41])

(40, 18)