In [42]:
%matplotlib widget

In [43]:
import numpy as np
import emg3d 
import empymod as ep
import pandas as pd
from scipy.constants import mu_0
import matplotlib.pyplot as plt
from matplotlib.colors import LogNorm
import time
import sys
sys.path.insert(1, 'src')

from Plot import grid

## Upload data and sort

In [70]:
OUT = np.load('data/data3D_slope10_40pos.pkl', allow_pickle=True)

In [71]:
OUT

    geom  src_x  rec_x  midpx  offset        op        ip
0     H2   -4.0   -2.0  -3.00     2.0  0.012758  0.004311
1     H4   -4.0    0.0  -2.00     4.0  0.044032  0.030009
2     H8   -4.0    4.0   0.00     8.0  0.079656  0.152005
3     V2   -4.0   -2.0  -3.00     2.0  0.012309  0.002293
4     V4   -4.0    0.0  -2.00     4.0  0.048981  0.017043
..   ...    ...    ...    ...     ...       ...       ...
400   V4   40.0   44.0  42.00     4.0  0.067584  0.026801
401   V8   40.0   48.0  44.00     8.0  0.221710  0.159267
402   P2   40.0   42.1  41.05     2.1  0.018031  0.002022
403   P4   40.0   44.1  42.05     4.1  0.088085  0.023479
404   P8   40.0   48.1  44.05     8.1  0.329400  0.206039

[405 rows x 7 columns]

In [72]:
OUT_sorted = OUT.sort_values(by='geom')

In [73]:
OUT_sorted

    geom  src_x  rec_x  midpx  offset        op        ip
0     H2   -4.0   -2.0   -3.0     2.0  0.012758  0.004311
333   H2   33.0   35.0   34.0     2.0  0.018306  0.007030
99    H2    7.0    9.0    8.0     2.0  0.012906  0.004468
216   H2   20.0   22.0   21.0     2.0  0.014780  0.005562
90    H2    6.0    8.0    7.0     2.0  0.012866  0.004433
..   ...    ...    ...    ...     ...       ...       ...
176   V8   15.0   23.0   19.0     8.0  0.182980  0.127098
284   V8   27.0   35.0   31.0     8.0  0.211338  0.150555
374   V8   37.0   45.0   41.0     8.0  0.220690  0.159202
356   V8   35.0   43.0   39.0     8.0  0.219833  0.158701
239   V8   22.0   30.0   26.0     8.0  0.201258  0.141870

[405 rows x 7 columns]

In [74]:
npos = int(len(OUT_sorted)/9)

In [75]:
npos

45

In [76]:
data_3D = np.zeros((npos-3,18))

pos=0
for p in range(-3,npos):
    #print(OUT_sorted.loc[(OUT_sorted.midpx > p+.06) & (OUT_sorted.midpx <p +1.06)])

    dat = np.hstack((OUT_sorted.loc[(OUT_sorted.midpx > p+.06) & (OUT_sorted.midpx <=p +1.06)]['op'],
                     OUT_sorted.loc[(OUT_sorted.midpx > p+.06) & (OUT_sorted.midpx <=p +1.06)]['ip'])) 
    if dat.size == 0:
        continue
    if dat.size == 18:
        data_3D[pos,:] = dat
        #print('pos:', pos)
        pos += 1

In [77]:
np.save('data/data_3D_slope10_40pos_sorted', data_3D[1:41])

In [78]:
np.shape(data_3D[1:41])

(40, 18)